#form {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: aliceblue;
    width: 25%;
    padding: 20px;
    margin: auto;
    background-color: rgb(131, 23, 177);
    line-height: 30px;
    background-image: url(./Assets/819305.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.input {
    font-size: large;
    padding: 10px;
    border-radius: 5px;
    width: 350px;
}

#btn {
    background-color: purple;
    padding: 5px;
    border-radius: 3px;
    color: aliceblue;
}

a {
    color: white;
}
